.title {
    width: 328px;
    height: 25px;
    font-size: $font-size-400;
    font-weight: $font-light;
    text-align: center;
    color: $grey-400;
}

.subtitle {
    width: 303px;
    height: 60px;
    font-size: $font-size-180;
    font-weight: $font-light;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: $grey-400;
}