@import "../../../scss/variables/colours.scss";
@import "../../../scss/variables/font-weight.scss";
app-phone-list {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .phone-form {
        margin-bottom: 1rem;
    }
    .list {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-height: 50%;
        overflow-y: auto;
        background-color: white;
        border: 1px solid $grey-100;
        border-radius: 2px;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
        .header-list {
            border-bottom: solid 1px $grey-100;
            font-weight: $font-bold;
            padding: 1.75rem;
        }
        .item-list {
            padding: 0.75rem;
            border-bottom: solid 1px $grey-300;
            .alias {
                color: $grey-400;
            }
            .number {
                color: $grey-300;
            }
            &:hover {
                background-color: $grey-200;
            }
        }
    }
    @media (min-width: 700px) {
        .delete-item-mobile {
            display: none;
        }
    }
}