@import "../../../scss/variables/colours.scss";
@import "../../../scss/variables/font-weight.scss";
app-phone-list {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-icon {
        .icon-add {
            color: $blue-100;
        }
        &:hover {
            .icon-add {
                color: $blue-200;
            }
        }
    }
    .body-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        max-height: 50%;
        overflow-y: auto;
        background-color: white;
        border: 1px solid $grey-100;
        border-radius: 2px;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
        .header-list {
            border-bottom: solid 1px $grey-100;
            font-weight: $font-bold;
            padding: 1.75rem;
        }
        .item-list {
            display: flex;
            padding: 0.75rem;
            border-bottom: solid 1px $grey-300;
            .item-data {
                display: flex;
                flex: 1;
                .alias {
                    color: $grey-400;
                }
                .number {
                    color: $grey-300;
                }
            }
            &:hover {
                background-color: $grey-200;
            }
            .delete-item-mobile {
                .btn-delete-item-mobile {}
            }
        }
    }
    @media (min-width: 992px) {
        .delete-item-mobile {
            display: none;
        }
    }
    @media (max-width: 992px) {
        .delete-item-desktop {
            display: none;
        }
    }
}