<div class="phone-list">
    <div class="header">
        <p class="title"> Listado Telefónos </p>
        <p class="subtitle"> Necesitamos que introduzca el alias y número de telefono de los contactos que quiera.</p>
    </div>
    <div class="form-container">
        <form class="form-detail" (ngSubmit)="addPhone()" #formPhoneList="ngForm" autocomplete="off">
            <div class="form-group-phone">
                <span class="form-label">Alias</span>
                <input type="text" required class="input-basic" [(ngModel)]="phone.alias" name="alias">
            </div>
            <div class="form-group-phone">
                <span class="form-label">Número Teléfono</span>
                <input type="number" required class="input-basic" [(ngModel)]="phone.phone" name="phoneNumber" pattern="[0-9]{9}" #phoneNumber="ngModel" onKeyPress="if(this.value.length==9) return false;">
            </div>
            <div class="form-group-phone">
                <button type="submit" class="button-icon" [disabled]="!formPhoneList.form.valid">
                    <i class="material-icons icon-add">add_circle</i>
                    <span>AÑADIR</span> 
                </button>
            </div>
        </form>
    </div>
    <div class="body-list" *ngIf="phoneList.length > 0">
        <div class="header-list">
            <span>NÚMEROS DE TELÉFONO</span>
        </div>
        <div *ngFor="let phone of phoneList;let i = index">
            <div class="item-list" (mouseleave)="mouseLeave(i)" (mouseenter)="mouseEnter(i)">
                <div class="item-data">
                    <span class="alias">{{phone.alias}}</span>
                    <span class="number">{{phone.phone}}</span>
                </div>
                <div class="delete-item-desktop">
                    <button *ngIf="i==itemSelected && delete" class="button-icon" (click)="deletePhone(i)">
                    <i class="material-icons">remove_circle</i>
                    <span>ELIMINAR</span>
                </button>
                </div>
                <div class="delete-item-mobile">
                    <button class="button-icon" (click)="openDeleteOption(i)"><i class="material-icons">keyboard_arrow_down</i></button>
                </div>
            </div>
            <div class="btn-delete-item-mobile" *ngIf="i==itemSelectedMobile && deleteOption">
                <button class="button-icon" (click)="deletePhone(i)">
                    <i class="material-icons">remove_circle</i>
                    <span>ELIMINAR</span>
                </button>
            </div>
        </div>
    </div>
</div>

<app-footer [routerLinkPrevious]="'personal-information'" [routerLinkNext]="'summary'" [invalid]="phoneList.length <= 0"></app-footer>