@import "../../../scss/variables/colours.scss";
@import "../../../scss/variables/font-size.scss";
@import "../../../scss/variables/font-weight.scss";
app-personal-information {
    .personal-container {
        overflow-y: auto;
        min-height: 100%;
        margin-bottom: -50px;
        padding-bottom: 50px;
    }
}