<div class="personal-container">
    <div class="title-container">
        <label>Información Personal</label>
    </div>
    <div class="form-container">
        <form class="form-detail" #contact="ngForm">
            <div class="form-group">
                <label class="form-label" for="name">Nombre</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="contactForm.name" name="name" #name="ngModel">
                <span class="input-error" *ngIf="name.invalid && name.value">
						Campo obligatorio
					</span>
                <span class="input-error" *ngIf="name.valid && name.value && isNumber(name.value)">
						No se permiten números
					</span>
            </div>
            <div class="form-group">
                <label class="form-label" for="lastname">Apellidos</label>
                <input type="text" class="form-control" id="lastname" required [(ngModel)]="contactForm.lastname" name="lastname" #lastname="ngModel">
                <span class="input-error" *ngIf="lastname.invalid && lastname.value">
					Campo obligatorio
				</span>
                <span class="input-error" *ngIf="lastname.valid && lastname.value && isNumber(lastname.value)">
					No se permiten números
				</span>
            </div>
            <div class="form-group">
                <label class="form-label" for="date">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="date" required [(ngModel)]="contactForm.date" name="date">
            </div>
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" required [(ngModel)]="contactForm.email" email name="email" #email="ngModel">
                <span class="input-error" *ngIf="email.invalid && email.value">
					El email no es válido
				</span>
            </div>
            <div class="form-group">
                <label class="form-label" for="address">Dirección</label>
                <input type="text" class="form-control" id="address" required [(ngModel)]="contactForm.address" name="address">
            </div>
            <div class="form-group">
                <label class="form-label" for="zipcode">Código postal</label>
                <input type="number" class="form-control" id="zipcode" required [(ngModel)]="contactForm.zipcode" name="zipcode" min="0" max="99999" onKeyPress="if(this.value.length==5) return false;">
            </div>
        </form>
    </div>
</div>
<app-footer [first]="true" [invalid]="!contact.form.valid || isNumber(name.value) || isNumber(lastname.value)" [routerLinkNext]="'phone-list'" [contactForm]="contact.value"></app-footer>