<div class="personal-container">
    <div class="header">
        <p class="title"> Información Personal </p>
        <p class="subtitle"> Rellene los datos requeridos como información personal.</p>
    </div>
    <div class="form-container">
        <form class="form-detail" #contact="ngForm" autocomplete="off">
            <div class="form-group">
                <span class="form-label" for="name" [ngClass]="{'input-error': (name.invalid && name.value)||(name.valid && name.value && isNumber(name.value))}">Nombre</span>
                <input type="text" class="input-basic" id="name" required [(ngModel)]="contactForm.name" name="name" #name="ngModel" [ngClass]="{'input-error-msg': (name.invalid && name.value)||(name.valid && name.value && isNumber(name.value))}">
                <span class="input-error" *ngIf="name.invalid && name.value">
						Campo obligatorio
					</span>
                <span class="input-error" *ngIf="name.valid && name.value && isNumber(name.value)">
						No se permiten números
					</span>
            </div>
            <div class="form-group">
                <span class="form-label" for="lastname" [ngClass]="{'input-error': (lastname.invalid && lastname.value)||(lastname.valid && lastname.value && isNumber(lastname.value))}">Apellidos</span>
                <input type="text" class="input-basic" id="lastname" required [(ngModel)]="contactForm.lastname" name="lastname" #lastname="ngModel" [ngClass]="{'input-error-msg': (lastname.invalid && lastname.value)||(lastname.valid && lastname.value && isNumber(lastname.value))}">
                <span class="input-error" *ngIf="lastname.invalid && lastname.value">
					Campo obligatorio
				</span>
                <span class="input-error" *ngIf="lastname.valid && lastname.value && isNumber(lastname.value)">
					No se permiten números
				</span>
            </div>
            <div class="form-group">
                <span class="form-label" for="date">Fecha de nacimiento</span>
                <input type="date" class="input-basic" id="date" required [(ngModel)]="contactForm.date" name="date">
            </div>
            <div class="form-group">
                <span class="form-label" for="email" [ngClass]="{'input-error': email.invalid && email.value}">Email</span>
                <input type="email" class="input-basic" id="email" required [(ngModel)]="contactForm.email" email name="email" #email="ngModel" [ngClass]="{'input-error-msg': email.invalid && email.value}">
                <span class="input-error" *ngIf="email.invalid && email.value">
					El email no es válido
				</span>
            </div>
            <div class="form-group">
                <span class="form-label" for="address">Dirección</span>
                <input type="text" class="input-basic" id="address" required [(ngModel)]="contactForm.address" name="address">
            </div>
            <div class="form-group">
                <span class="form-label" for="zipcode" [ngClass]="{'input-error': (zipcode.invalid && zipcode.value) || (zipcode.valid && zipcode.value && isNotNumber(zipcode.value))}">Código postal</span>
                <input type="text" class="input-basic" id="zipcode" required [(ngModel)]="contactForm.zipcode" name="zipcode" onKeyPress="if(this.value.length==5) return false;" #zipcode="ngModel" [ngClass]="{'input-error-msg': (zipcode.invalid && zipcode.value)||(zipcode.valid && zipcode.value
                && isNotNumber(zipcode.value))}">
                <span class="input-error" *ngIf="zipcode.valid && zipcode.value && isNotNumber(zipcode.value)">
                    Solo se permiten números
                </span>
            </div>
        </form>
    </div>
</div>
<app-footer [first]="true" [invalid]="!contact.form.valid || isNumber(name.value) || isNumber(lastname.value) || isNotNumber(zipcode.value)" [routerLinkNext]="'phone-list'" [contactForm]="contact.value"></app-footer>