.form-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: white;
    border: 1px solid $grey-100;
    border-radius: 2px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
    margin: 2rem;
    .form-detail {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        .form-group {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            width: 45%;
            padding: 10px;
            .form-label {
                font-size: $font-size-200;
                font-weight: $font-bold;
            }
        }
        .form-group-phone {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding: 10px;
            .form-label {
                font-size: $font-size-200;
                font-weight: $font-bold;
            }
            &.form-group-add{
                align-self: center;
            }
        }
    }
}