<div class="summary-container">
  <div class="header">
    <p class="title"> Resumen de los datos </p>
    <p class="subtitle">Estos son los datos que nos ha proporcionado.
      Si no son correctos por favor vuelva a las pantallas anteriores.</p>
  </div>
  <app-data-summary [sectionTitle]="'Datos Personales'" [list]="listPersonal"></app-data-summary>
  <app-data-summary [sectionTitle]="'Datos Móviles'" [list]="listMobiles"></app-data-summary>
</div>
<app-footer [end]="true" [routerLinkPrevious]="'phone-list'"></app-footer>