@import "variables/_main";
@import "app/_main";
@import "common/extends";
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: $font-size-280;
    font-family: 'Akkurat Light';
    background-color: $grey-200;
}