$grey-100: #f6f6f6;
$grey-200: #f2f2f2;
$grey-300: #cccccc;
$grey-350: #ababab;
$grey-380: #848484;
$grey-400: #464646;
$blue-100: #13cec4;
$blue-200: #0a918a;
$blue-300: #0b7b75;
$red-error: #e13535;